<template>
  <div class="container" v-bind:style="styles"></div>
</template>

<script>
  import { loadImages } from '../pexels';

  export default {
    name: 'ImageView',
    data: () => {
      return {
        photos: null,
        activeImage: 0,
      };
    },
    methods: {
      nextImage: function () {
        if (this.activeImage <= this.photos.length) {
          this.activeImage = this.activeImage + 1;
          setTimeout(this.nextImage, 30 * 1000);
        }
      }
    },
    created () {
      loadImages().then(photos => {
        this.photos = photos;
        setTimeout(this.nextImage, 10 * 1000);
      });
    },
    computed: {
      styles: function () {
        const active = this.activeImage;
        const bg = this.photos != null ? this.photos[active].src.large2x : '';
        return { 'background-image': `url('${bg}')` };
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
  }

</style>
